/* ---------- SetUp Settings ---------- */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
  font-family: monospace;
  width: 100%;
  animation: example2 2s normal ease-in-out;
}

/* ---------- SetUp Settings Over ---------- */


/* ---------- Loading Screen ---------- */

.loadingScreenBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  z-index: 5;
  animation: backgroundColorOpacityAnimation 2.5s normal forwards ease-in;
}

.loadingScreenIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  animation: iconOpacityAnimation 3s normal forwards ease-in;
}

@keyframes iconOpacityAnimation {
  0%   {opacity: 100%;}
  15%  {opacity: 85%;}
  25%  {opacity: 75%;}
  35%  {opacity: 65%;}
  50%  {opacity: 50%;}
  60%  {opacity: 45%;}
  75%  {opacity: 25%;}
  85%  {opacity: 15%;}
  100% {opacity: 0%;}
  100% {visibility:hidden;}
}

@keyframes backgroundColorOpacityAnimation {
  0%   {background-color: rgb(245, 245, 245)}
  15%   {background-color: rgba(245, 245, 245, 0.849)}
  25%  {background-color: rgba(245, 245, 245, 0.726)}
  35%  {background-color: rgba(245, 245, 245, 0.582)}
  50%  {background-color: rgba(245, 245, 245, 0.521)}
  65%  {background-color: rgba(245, 245, 245, 0.377)}
  75%  {background-color: rgba(245, 245, 245, 0.233)}
  85%   {background-color: rgba(245, 245, 245, 0.062)}
  100% {background-color: rgba(245, 245, 245, 0);}
  100% {visibility:hidden;}
}

/* ---------- Loading Screen Over ---------- */


/* ---------- SVG Background Image ---------- */

.backgroundSvgImage {
  pointer-events: none;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -1;
  object-fit: cover;
}

/* ---------- SVG Background Image Over ---------- */


/* ---------- Navigation Bar ---------- */

.navBar {
  display: flex;
  color: whitesmoke;
  font-family: monospace;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-bottom: 3px solid rgb(255, 0, 149);
  background-color: rgba(14, 14, 14, 0.418);
  transition: 0.2s;
  backdrop-filter: blur(5px);
}

.navBarTitle {
  padding-left: 1.5%;
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.2s;
}

.navBarTitle:hover {
  color: rgb(255, 0, 149);
}

.navBarLinkElements {
  display: flex;
  align-items: center;
  gap: 15%;
  margin-left: auto;
  margin-right: 5%;
  font-size: 22px;
}

.navBarLinkElements a{
  color: whitesmoke;
  text-decoration: none;
  list-style: none;
  transition: 0.2s;
}

.navBarLinkElements a:hover{
  color: rgb(255, 0, 149);
}

/* ---------- Navigation Bar Over ---------- */


/* ---------- Cinema: Tatabánya Vértes Center Mozi Title ---------- */

.cinemaTitle01 {
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 20px;
  border: 4px solid whitesmoke;
  border-radius: 3px 15px 3px 15px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  transition: 0.2s;
  text-shadow: 10px 10px 10px black;
  background-color: rgba(14, 14, 14, 0.712);
}

.cinemaTitle01:hover {
  text-shadow: 10px 10px 10px black;
}

/* ---------- Cinema: Tatabánya Vértes Center Mozi Title Over ---------- */


/* ---------- Tatabánya Vértes Center Mozi Data Content ---------- */

.tatabanyaVertesCenterDiv {
  background-color: rgba(14, 14, 14, 0.712);
  border: none solid whitesmoke;
  border-left: 0px solid rgb(14, 14, 14);
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
  width: 1300px;
  padding: 1.5%;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  backdrop-filter: blur(5px);
}

.tatabanyaVertesCenterDiv:hover {
  box-shadow: 10px 10px 10px black;
  border-left: 20px solid rgb(255, 0, 149);
  transition: 0.2s;
}

.tatabanyaVertesCenterDiv:hover h2{
  transition: 0.2s;
}

.tatabanyaVertesCenterDiv:hover h2{
  color: rgb(255, 0, 149);
  text-shadow: 10px 10px 10px black;
}

.tatabanyaVertesCenterDiv h1{
  text-align: center;
}

.tatabanyaVertesCenterMovies {
  margin-top: 3%;
}

.tbanyaCinemaMovieLinkElements {
  margin-top: 0.7%;
}

.tatabanyaVertesCenterDiv a{
  text-decoration: none;
  color: whitesmoke;
  transition: 0.2s;
  font-size: 22px;
}

.tatabanyaVertesCenterDiv a:hover{
  text-decoration: underline;
  color: rgb(255, 0, 149);
  text-shadow: 8px 8px 8px black;
}

/* ---------- Tatabánya Vértes Center Mozi Data Content Over ---------- */


/* ---------- Footer Bar ---------- */

.FooterBar {
  width: 100%;
  position: absolute;
  margin-top: 5%;
  background-color: #131313cc;
  text-align: center;
  font-size: 10px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  bottom: 0%;
  left: 0%;
}

/* ---------- Footer Bar Over ---------- */


/* ---------- Custom Scrollbar ---------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 0, 94);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(218, 0, 127);
}

/* ---------- Custom Scrollbar Over ---------- */


/* ---------- Media Queries (Website Responsivity On Each Devices) ---------- */

/* Smaller Mobiles */
/* @media screen Események Között: min-width:0px and max-width:352px */
@media only screen and (min-width: 0px) and (max-width: 352px) {
  
}

/* Avarage Mobiles (Example: Redmi Note 9 Pro) */
/* @media screen Események Között: min-width:352px and max-width:510px */
@media only screen and (min-width:352px) and (max-width:510px) {

  /* ---------- SVG Background Image ---------- */

  .backgroundSvgImage {
    width: 100%;
    height: 100%;
  }

  /* ---------- SVG Background Image Over ---------- */

  /* ---------- Navigation Bar ---------- */

  .navBar {
    width: 100%;
    display: block;
    text-align: center;
  }

  .navBarTitle {
    font-size: 18px;
    margin-bottom: 5%;
  }

  .navBarLinkElements {
    display: inline-flex;
    margin-top: 5%;
    gap: 7%;
    text-align: center;
    font-size: 20px; 
  }

  /* ---------- Navigation Bar Over ---------- */


  /* ---------- Cinema: Tatabánya Vértes Center Mozi Title ---------- */

  .cinemaTitle01 {
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 4%;
    font-size: 10px;
    border: 3px solid whitesmoke;
    transition: 0.2s;
  }

  /* ---------- Cinema: Tatabánya Vértes Center Mozi Title Over ---------- */


  /* ---------- Tatabánya Vértes Center Mozi Data Content ---------- */

  .tatabanyaVertesCenterDiv {
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    width: 350px;
    padding: 3%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
    backdrop-filter: blur(5px);
  }
  
  .tatabanyaVertesCenterDiv:hover {
    box-shadow: 10px 10px 10px black;
    border-left: none;
    transition: 0.2s;
  }
  
  .tatabanyaVertesCenterDiv:hover h2{
    transition: 0.2s;
  }
  
  .tatabanyaVertesCenterDiv:hover h2{
    color: whitesmoke;
    text-shadow: none;
  }
  
  .tatabanyaVertesCenterMovies {
    margin-top: 3.5%;
  }
  
  .tbanyaCinemaMovieLinkElements {
    margin-top: 5%;
  }
  
  .tatabanyaVertesCenterDiv a{
    text-decoration: none;
    color: whitesmoke;
    transition: 0.2s;
    font-size: 18px;
  }
  
  .tatabanyaVertesCenterDiv a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 149);
    text-shadow: 8px 8px 8px black;
  }

  /* ---------- Tatabánya Vértes Center Mozi Data Content Over ---------- */

  
  /* ---------- Footer Bar ---------- */

  .FooterBar {
    margin-top: 5%;
    font-size: 6px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  /* ---------- Footer Bar Over ---------- */

}

/* Smaller Tablets - Avarage Tablets */
/* @media screen Események Között: min-width:511px and max-width:1000px */
@media only screen and (min-width:511px) and (max-width:1000px) {
    
}

/* Smaller Monitors */
/* @media screen Események Között: min-width:1000px and max-width:1460px */
@media only screen and (min-width:1000px) and (max-width:1460px) {
    
}

/* Avarage Monitors */
/* @media screen Események Között: min-width:1460px and max-width:1920px */
@media only screen and (min-width:1460px) and (max-width:1920px) {
    
}

/* ---------- Media Queries (Website Responsivity On Each Devices) Over ---------- */
